<div class="all">
    <div class="imageContainer">
        <img src="../../assets/garden.PNG"/>
    </div>
    <div class="gardenContent">
        try this
        <div class="row firstRow">
            <div class="image1 large-2 large-offset-1 columns">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
            <div class="image2 large-2  columns ">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
            <div class="image3 large-2  columns ">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
        </div><br/><br/><br/>
        <div class="row secondRow">
            <div class="image1 large-2 large-offset-1 columns">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
            <div class="image2 large-2  columns ">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
            <div class="image3 large-2  columns ">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
        </div><br/><br/><br/>
        <div class="row threeRow">
            <div class="image1 large-2 large-offset-1 columns">
                <img src="../../assets/user.png" (click)="getInfo()"/>
            </div>
            <div class="image2 large-2  columns ">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
            <div class="image3 large-2  columns ">
                <img src="../../assets/info.png" (click)="getInfo()"/>
            </div>
        </div>
    </div>
</div>