<div class="row">
    <div class="generalInfo" *ngFor="#information of informationList">
        <div class="title">
            {{information.title}}
        </div>
        <div class="meteo row">
            <div class="image large-offset-1 large-2 columns">
                <img src="../../assets/homePage/meteo.png">
            </div>
            <div class="value large-offset-1 large-5 columns end">
                {{information.meteo}}
            </div>
        </div>
        <div class="water row">
            <div class="image large-offset-1 large-2 columns">
                <img src="../../assets/homePage/waterpump.png">
            </div>
            <div class="value large-offset-1 large-5 columns end">
                {{information.water}}
            </div>
        </div><br/>
        <div class="general row">
            <div class="image large-offset-1 large-2 columns">
                <img src="../../assets/homePage/info.png">
            </div>
            <div class="value large-offset-1 large-5 columns end">
                {{information.general}}
            </div>
        </div>
    </div>
</div>