label{
  text-align:center;
  color:rgb(15,132,66);
}

.iconContent{
  color: white;
  font-size: 25px;
  background-color:rgb(15,132,66);
  height:39px;
  text-align: center;
  padding:0px;
}

.iconContent:hover{
  background-color:white;
  color: rgb(15,132,66);
  border: 1px solid rgb(15,132,66);
}

.inputContent{
  padding-left:0px;
}
.iconAndInput{
  padding-left:15px;
}
.fa-envelope-o{
  padding-top: 7px;
}

.fa-info-circle, .fa-arrow-circle-left{
  color:rgb(15,132,66);
}

.fa-arrow-circle-left{
  font-size: 30px;
  margin-top: 8px;
}
.fa-arrow-circle-left:hover{
  font-size: 35px;
  margin-top: 5px;
}
.forgotContact{
  font-size: 12px;
  color: #0066c0;
}

.info{
  font-style: italic;
}

.buttonDiv{
  margin-top:1em;
}