<div class="row">
    <div class="vegetableInfo" *ngFor="#vegetable of vegetableList">
        <div class="name">
            {{vegetable.name}}
        </div>
        <div class="grow row">
            <div class="image large-offset-1 large-2 columns">
                <img src="../../assets/homePage/heart.png">
            </div>
            <div class="value large-offset-1 large-5 columns end">
                {{vegetable.growingLvl}}
            </div>
        </div>
        <div class="water row">
            <div class="image large-offset-1 large-2 columns">
                <img src="../../assets/homePage/arrosoire.png">

            </div>
            <div class="value large-offset-1 large-5 columns end">
                {{vegetable.waterLvl}}
            </div>
        </div><br/>
        <div class="info row">
            <div class="image large-offset-1 large-2 columns">
                <img src="../../assets/homePage/info.png">
            </div>
            <div class="value large-offset-1 large-5 columns end">
                {{vegetable.info}}
            </div>
        </div>
    </div>
</div>