<div class="row">
    <div class="vegetableInfo" *ngFor="#vegetable of vegetableList">
        <div class="name">
            {{vegetable.name}}
        </div>
        <div class="grow row">
            <img src="">
            <div class="value">
                {{vegetable.growingLvl}}
            </div>
        </div>
        <div class="water row">
            <img src="">
            <div class="value">
                {{vegetable.waterLvl}}
            </div>
        </div>
        <div class="info">
            {{vegetable.info}}
        </div>
    </div>
</div>